.footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 10px 0px;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.nav-link {
  font-weight: 600;
  text-transform: uppercase;
}

#header-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;
}

#name-input {
  padding-left: 10px;
  outline: none;
}
